.titre {
    display:flex;
    flex-direction:row;
}
.description {
  
}
.mep {
    display: flex;
    flex-direction: row;
    background-color: $backGroundColor2;
    padding: 0 10px 10px 10px;
    box-sizing: border-box;
}

.boutton {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width:300px;
}
.bouton {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.plusDinfo {
    margin-top: 8px;
    padding: 4px;
    width: 130px;
    background-color: white;
    text-align: center;
    text-decoration: none;
    border: 2px solid $backGroundColor;

    &:hover {
        background-color: $backGroundColor;
        color: white;
        border: 2px solid $backGroundColor;
    }
}
.afficher{
    flex-direction:row;
}

.row {
    display: flex;
    flex-direction:row;
    margin: 10px 0;
}

.column {
    display: flex;
    flex-direction: column;
    margin : 20px 30px;
}
#prix{
    font-size : 1.5em;
    font-weight:bold;
}

.imagePanier{
    display:flex;
    height:150px;
}
.mepForm {
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: stretch;

    & article {
        margin: 10px 0 10px 0;
        padding: 10px;
        width: 100%;

        & .divMepForm {
            flex-grow: 1;
            margin: 20px;

            & .mepDivPanier {
                margin: 0;
                padding: 0;

                & .mepCoul {
                    font-size: 1.5em;
                    padding-right: 40px;
                    padding: 0;
                    margin: 0;
                    display: flex;
                    align-items: center;
                }

                & h3 {
                }
            }

            & .divBouttonQtePrix {
                margin:20px;

                & .mepDivQuant {
                    padding-right: 50px;
                    flex-grow:1;

                    & label {
                        border: 1px solid black;
                        border-right: none;
                        display: flex;
                        padding: 5px 0px 5px 15px;
                        border-radius: 10px 0 0 10px;
                        width: 50px;
                        background-color: $backGroundColorBoutton;
                    }

                    & .mepQtt {
                        width: 40px;
                    }
                }

                & .divPrix {
                    margin: 20px;

                    & p {
                        font-size: 1.5em;
                        padding-left: 50px;
                        margin:0;
                    }
                }
            }
        }
    }
}





.bouttonSupprPanier {
    width:10px;
    height:10px;
}

.divCheckSupr {
    display: flex;
    flex-grow: 1;
}
.divLegende{
    margin:0;
    padding:0;
    & divCheckSupr{
    margin:0;
    padding:0;
    }
    & divParaPrix{
        align-content:center;
    }
}