.titre {
    display:flex;
    flex-direction:row;
}
.description {
    padding-right: 30px;
    padding-left:30px;
}
.mep {
    display: flex;
    flex-direction: row;
    background-color: $backGroundColor2;
    padding: 0 10px 10px 10px;
    box-sizing: border-box;
}

.boutton {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 30px;
}
.bouton {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.plusDinfo {
    margin-top: 8px;
    padding: 4px;
    width: 130px;
    background-color: white;
    text-align: center;
    text-decoration: none;
    border: 2px solid $backGroundColor;
}
.afficher{
    flex-direction:row;
}
