form {
    display: flex;
    flex-direction: column;

    & label {
        font-size: 1.5em;
        padding-right: 20px;
    }

    & input {
        font-size: 1.5em;
        color: $inputColor;
    }
    #mepForm{
        display:flex;
        flex-direction:row;
    }
    textarea{
        height:200px;
    }
}
fieldset{
    padding:30px;
}


#bouton_valid_form {
    font-size: $fontSize_boutton;
    padding:10px;
}
#divPopUp {
    margin: 0;
    position: fixed;
    width: 80%;
    height: 90%;
    top: 5%;
    left: 10%;
    background-color: white;
    border: 2px solid violet;
    border-radius: 30px;
    box-shadow: 2px 2px 12px grey;

    & #h4 {
        font-size: 2em;
        text-align: center;
        padding: 30px 0;
        margin-top: 0;
        border-bottom: 4px solid violet;
    }

    & #divForm {
        overflow: scroll;
        align-items: center;

        & #form {
            width: 80%;

            & #fieldset {
                border: none;

                & legende {
                    font-size: 1.3em;
                }

                & .divForm {
                    display: flex;
                    justify-content: flex-end;
                    margin: 10px 0;


                    & label {
                        background-color: $backGroundColorBoutton;
                        text-align: center;
                        flex-grow: 1;
                        border-radius: 10px 0 0 10px;
                        padding-left: 10px;
                    }

                    & input {
                    }
                }
            }

            & #divRecap {
                flex-grow: 1;
                margin: 0;
                border-radius: 30px;
                margin-bottom: 20px;
                border: 4px solid violet;

                & h5 {
                    margin: 0 20px;
                    border-right: 3px double violet;
                    padding: 20px;
                    font-size: 1.5em;
                    padding-top: 27px;
                }

                & #divRecapElm {
                    flex-grow: 1;
                    font-size: 1.2em;
                }
            }

            & #divButton {
                margin-bottom: 50px;
                display: flex;
                justify-content: center;

                & #buttonEnvoyerCommande {
                    margin-right: 20px;
                    width: 290px;
                    border-radius: 20px;
                    padding: 9px;
                    & a{
                        text-decoration:none;
                    }
                    & a:hover {
                        color: white;
                    }
                }

                & #annulerFormulaire {
                    margin-left: 20px;
                    border-radius: 20px;
                    padding: 9px;
                }
            }
        }
    }
}
