form {
    display: flex;
    flex-direction: column;

    & label {
        font-size: 1.5em;
        padding-right: 20px;
    }

    & input {
        font-size: 1.5em;
        color: $inputColor;
    }
    #mepForm{
        display:flex;
        flex-direction:row;
    }
}
fieldset{
    padding:30px;
    margin-bottom:30px;
}


#bouton_valid_form {
    font-size: $fontSize_boutton;
    padding:10px;
}
#divPopUp {
    margin: 0;
    position: fixed;
    width: 80%;
    height: 90%;
    top: 5%;
    left: 10%;
    background-color: white;
    border: 2px solid black;

    & #h4 {
        font-size: 1.3em;
        text-align: center;
        padding: 30px 0;
        border-bottom: 1px solid black;
    }

    & #divForm {
        overflow: scroll;

        & #form {
            & #fieldset {
                & .divForm {
                    display: flex;
                    justify-content: flex-end;
                    margin: 10px 0;

                    & label {
                        background-color: $backGroundColorBoutton;
                        text-align: center;
                        flex-grow: 1;
                        border-radius: 10px 0 0 10px;
                        padding-left: 10px;
                    }

                    & input {
                    }
                }
            }

            & #divRecap {
                border: 1px solid black;
                flex-grow: 1;

                & h5 {
                    margin:0 20px;
                    border-right: 2px solid black;
                    padding: 20px;
                }

                & #divRecapElm {
                    flex-grow: 1;
                }
            }
        }
    }
}
